body {
    margin: 0;
    padding: 0;
}

.map{
    height: 600px;
    position: relative;;
}

.directionBox{
    position: absolute;
    z-index: 401;
    min-width: 300px;
    background-color: #f5f3ef;
    padding: 1rem;
    line-height: 1.2;
    right: 0px;
}

.carStatus{
    padding: .5rem;
    margin-right: 1rem;
}

.p-none{
    margin-bottom: 0 !important;
}